.header {
	background-image: linear-gradient(to right, #007bff , #0037ff);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

.navItem {
	font-size: 20px;
	color: #accdf2;
	float: left;
	
}
.navItem:hover {
	background-color: #0062ff;
}
.login {
	float: right;
	text-align: end;
}

.link {
	display: block;
	color: inherit;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

@media screen and (max-width: 800px){
	.navItem{
		font-size: 20px;
	}
	.navItem:first-child{
		font-size: 22px;
	}
}