.header {
	background-image: linear-gradient(to right, #007bff , #0037ff);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
.fixed {
	position: fixed;
	width: 100%;
	z-index: 10;
}
.unfixed {
	position: unset;
	width: 100%;
	z-index: unset;
}

.navItem {
	height: 61px;
	font-size: 18px;
	padding: 4px 1px;
	color: #accdf2;
	float: left;
	font-weight: 600;
}
.navItem:first-child{
	font-size: 20px;
	color: #accdf2;
	font-weight: 700;
	padding: unset;
}
.navItem:hover {
	background-color: #0062ff;
}
.login {
	float: right;
	text-align: end;
}

.link {
	display: block;
	color: inherit;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

@media screen and (max-width: 800px){
	.navItem{
		font-size: 17px;
		padding: 3px 1px;
	}
	.navItem:first-child{
		font-size: 20px;
	}
}