<% layout('layouts/boilerplate') %> 
<div class="container d-flex justify-content-center align-items-center md-5">
<div class="row">
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <div class="card-shadow">
      <div class="card-body">
        <h5 class="card-title">Registration</h5>
    <form method="POST" action="/user/register" novalidate class="validated">
      <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" placeholder="xyz@gmail.com (obviously not this exact email)" autofocus required>
      <div class="valid-feedback">
        <h6>Looks good!</h6>
      </div>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" placeholder="Username" class="form-control" required>
<div class="valid-feedback">
  <h6>Looks good!</h6>
</div>
    </div>
<div class="mb-3">
     <label for="password" class="form-label">Password</label>
     <input type="password" name="password" placeholder=" " class="form-control" required>
 <div class="valid-feedback">
    <h6>Looks good!</h6>
</div>
    </div>
    <div class="mb-3">
      <button class=" btn btn-success btn-block">Submit</button>
      </div>
  </form>
  <a href="/elpers" class="card-footer my-5 btn bg-dark navbar-dark text-muted">Go Back</a>
  </div>
  </div>
  </div>
</div>
</div>

