.main {
	display: flex;
	flex-direction: column;
}

.item {
	padding: 15px 32px;
	margin: 25px 30px;
	max-width: 55%;
	display: table;
	table-layout: auto;
	border-radius: 10px;
}
.item:hover {
	box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}

.imageCtrl {
	width: 300px;
	height: 250px;
	display: block;
	margin: auto;
}

.imageCtrl > span{
		position: unset !important;
		border-radius: 7px;
	}
.image{
	object-fit: cover;
	width: 100% !important;
	position: relative !important;
	height: 35vh !important;
}
.content {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	box-sizing: border-box;
}
.innerContent {
	margin-left: 10px;
}
.title {
	font-weight: bold;
	font-size: 15px;
}

.description {
	color: rgba(110, 112, 114, 1);
}
.btnCtrl{
	position: relative;
	bottom: -50px;
}

@media screen and (max-width: 800px) {
	.main {
		align-items: center;
	}
	.imageCtrl{
		position: relative;
		width: 50vw;
		height: 25vh;
		max-width: 50vw;
		max-height: 25vh;
	}
	.image{
		object-fit: cover;
		width: 100% !important;
		position: relative !important;
		height: 35vh !important;
	}
	.item {
		box-shadow: unset;
	}
        .item:hover{ 
                box-shadow: unset; 
        }
	.title{
		margin-top: unset;
	}
	.btnCtrl{
		bottom: 0;
	}
}
