.main {
	display: grid;
	margin-left: 20px;
	margin-right: 20px;
}

.mainTitle {
	margin: unset;
	margin-top: 70px;
	text-align: center;
}
.imageCtrl {
	margin: unset !important;
	width: 25vw !important;
	display: block;
}
.image {
	object-fit: cover;
	position: relative !important;
	height: 22vh !important;
}
.imageCtrl > span {
	position: unset !important;
	border-radius: 7px;
}
.item {
	background-color: #e1e2e3;
	display: grid;
	padding: 15px;
	border-radius: 10px;
	grid-template-columns: 1fr 2fr;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.item:hover {
	box-shadow: unset;
}
.title {
	margin: unset;
	margin-bottom: 5px;
}
.content {
	height: 15%;
	box-sizing: border-box;
}
.description {
	display: block;
	color: #555759;
	font-size: 16.4px;
	height: 21vh;
}

.decroLink {
	color: #0fadcc;
}
.btnCtrl {
	bottom: 0;
	position: absolute;
}
.mdText {
	display: none;
}
.smText {
	display: inline;
}

.muted {
	font-weight: 600;
	color: #474b52;
	display: block;
	width: 100%;
	border-bottom: 2.95px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 800px) {
	.main {
		display: flex;
		flex-direction: column;
	}

	.item {
		padding: 15px 32px;
		margin: 25px 30px;
		max-width: 55%;
		display: table;
		table-layout: auto;
		border-radius: 10px;
		position: relative;
	}
	.item:hover {
		box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
	}

	.imageCtrl {
		width: 300px;
		height: 250px;
		display: block;
		margin: auto;
	}

	.image {
		object-fit: cover;
		width: 100% !important;
		position: relative !important;
		height: 35vh !important;
	}
	.content {
		display: table-cell;
		vertical-align: top;
		width: 100%;
		box-sizing: border-box;
	}
	.innerContent {
		margin-left: 10px;
	}
	.title {
		font-weight: bold;
		font-size: 15px;
	}

	.description {
		height: 11vh;
	}

	.smText {
		display: none;
	}
}
@media screen and (min-width: 700px) {
	.lgText,
	.mdText {
		display: inline;
	}
	.smText {
		display: none;
	}
}
/* tried to make it work with kindle fire HDX Linux */
@media screen and (max-height: 1300px) and (max-width: 800px) {
	.image {
		height: 20vh !important;
	}
	.mdText {
		display: none;
	}
	.smText {
		display: inline;
	}
	.btnCtrl {
		position: relative;
		bottom: -20px;
	}
}
