.container {
	display: flex;
	flex-direction: column-reverse;
}

.card {
	margin: 0px 5px 20px 0px;
	order: 1;
}
.content {
	background-color: #e1e2e3;
	border-radius: 5px;
	color: rgba(110, 112, 114, 1);
	text-align: center;
	width: 98vw;
}
.title {
	> h5 {
		color: rgba(78, 78, 78, 1);
		font-size: 18px;
		font-weight: 600;
	}

	> span {
		width: 30px !important;
		height: 30px !important;
		position: relative !important;
	}
	margin: 0 5px 5px;
	border-bottom: 2.95px solid rgba(0, 0, 0, 0.2);
}
.map {
	order: 2;
}
.muted {
	font-weight: 600;
	color: #696f78;
}
.imageCtrl {
	width: 95vw !important;
	margin: 20px 10px;
	margin-bottom: 0px;
	> span {
		position: unset !important;
		border-radius: 10px;
	}
}

.image {
	object-fit: contain;
	width: auto !important;
	position: relative !important;
	height: 100% !important;
}
.btnEdit {
	position: relative;
	> button {
		padding: 10px 24px;
	}
}
.bottom {
	color: #333;
	font-weight: 600;
}
.textContent {
	padding: 0 5px;
	font-size: 16px;
	text-align: start;
	margin-bottom: 5px;
}
.icon {
	width: 30px !important;
	height: 30px !important;
	cursor: pointer;
}

.dropdown {
	position: absolute;
	background-color: #f9f9f9;
	cursor: pointer;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 10;
}
.dropDownItem{
	text-align: start;
	margin: 5px 0px;
	padding: 7.5px 16px;

	&:hover{
		background-color: #e1e2e3;
	}
}
@media screen and (min-width: 800px) {
	.container {
		display: grid;
		margin-top: 10px;
		margin-left: 20px;
		grid-template-areas: "main map" "footer footer";
	}

	.card {
		margin: 0 30px;
		grid-area: main;
		justify-self: end;
	}
	.map {
		margin-top: 22px;
		grid-area: map;
	}
	.reviews {
		grid-area: footer;
		justify-self: center;
	}
	.imageCtrl {
		width: 65vh !important;
	}

	.content {
		width: 65vh !important;
		margin-left: 10px;
	}
	.title {
		> h5 {
			color: rgba(78, 78, 78, 1);
			font-size: 20px;
			font-weight: 600;
			margin: 0 5px 5px;
		}
	}
	.textContent {
		font-size: 18px;
	}
	.bottom {
		padding: 10px;
	}
}
