<% layout('layouts/boilerplate') %> 

<div class="row">
  <h1 class="text-center">New Elp Camp</h1>
  <div class="col-6 offset-3">
    <form method="POST" action="/elpers" novalidate class="validated" enctype="multipart/form-data">
      <div class="mb-3">
      <label for="title" class="form-label">Elp Camp Title</label>
      <input type="text" class="form-control" name="title" placeholder="elp camp title" required>
      <div class="valid-feedback">
        <h6>Looks good!</h6>
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">location</label>
      <input type="text" name="location" placeholder="location for elp camp" class="form-control" required>
<div class="valid-feedback">
  <h6>Looks good!</h6>
</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Describe your Elp camp</label>
      <textarea name="description"cols="15" rows="5" placeholder="Describe your Elp Camp!" class="form-control" required></textarea>
<div class="valid-feedback">
  <h6>Looks good!</h6>
</div>
    </div> 
    <div class="mb-3" >
      <label for="price" class="form-label">Cost ₹/day</label>
      <input class="form-control" type="number" name="price" required>
<div class="valid-feedback">
  <h6>Looks good!</h6>
</div>
    </div>
    <div class="mb-3" >
      <label for="images" class="form-label">Upload Or enter a link of your image example "https://myimageshouldbethis.com?image=ad8238afdjka13"</label>
      <input type="file" class="form-control" name="images" required multiple>
<div class="valid-feedback">
  <h6>Looks good!</h6>
</div>
    </div>
    <div class="mb-3">
      <button class=" btn btn-success">Submit</button>
      </div>
  </form>
  <a href="/elpers" class="card-footer my-5 btn bg-dark navbar-dark text-muted">Go Back</a>
  </div>
</div>

