 <% layout('layouts/boilerplate') %> 
 <div class="row">
    <h1 class="text-center">Modify <%= elper.title %></h1>
    <div class="col-6 offset-3">
      <form method="POST" action="/elpers/<%= elper._id %>/upload?_method=PUT" novalidate class="validated" enctype="multipart/form-data">
      <div class="mb-3" >
        <label for="images" class="form-label">Upload Or enter a link of your image example "https://myimageshouldbethis.com?image=ad8238afdjka13"</label>
        <input type="file" class="form-control" name="images" required>
        <% elper.images.forEach((img) => { %>
        				<div>
         <img src="<%= img.url %>" alt="n">
         </div>
     <% }) %>
        
      </div>
      <div class="mb-3">
        <button class="btn btn-info" style="color: white">Submit</button>
        </div>
    </form>
    </div>
  </div>
  
    <a href="/elpers/<%= elper._id %>" class="card-footer my-5 btn bg-dark navbar-dark text-muted">Go Back</a>
</body>
</html>
